.navbar{
	background-color: #12161c !important;
}

.navbar-light .navbar-nav .nav-link{
	color: #ffffff;
}

.drop-dawn{
		background-color: #12161c !important;

}

.drop-dawn ul a{
	color: #fff;
}

.drop-dawn ul p{

color: #c1c1c1 !important;
}


.drop-dawn ul li:hover{
	background-color: #bdbdbd4d;
}

.collapse.show{
		background-color: #12161c !important;

}

.left-tab ul{

	padding: 0;
	list-style: none;
}
.active{
		background-color: #f5f5f5;
		    border-left: 4px solid  #50a333;


}

.active a{
	color: #212833;
}
.left-tab ul li{

	padding: 10px;
	transition: 0.2s;
}
.left-tab ul li:hover{

	background-color: #f5f5f5;
	transition: 0.2s;
}


.left-tab{
	    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px, rgb(0 0 0 / 8%) 0px 0px 4px;
    position: relative;
    z-index: 1;
    flex-direction: column;
    width: 200px;
}
.left-tab a{

	text-decoration: none;
	color: #848e9c;
	font-size: 14px;
	    font-weight: 500;

}
.left-tab a i{
	margin: 0 10px;
}
.main-flex{

	    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    min-height: 600px;
    flex: 1 1 0%;
}

.active a{
	color: #212833;
}

.active i{
	color: #50a333;
}


.right-tab{
	width: 100%;
	background-color: #fafafa;
}
.welcome{
	margin: 16px;

	box-sizing: border-box;
    min-width: 0px;
    background: url(../img/right.png) right top / auto 264px no-repeat, url(../img/left.svg) left bottom / 281px 154px no-repeat, linear-gradient(
102.18deg
, rgb(52, 56, 63) 11.81%, rgb(30, 32, 38) 94.26%);
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px, rgb(0 0 0 / 8%) 0px 0px 4px;
    border-radius: 4px;
    padding: 24px;
}

.welcome h2{
	color: #fff;
	font-weight: 600;
	font-size: 32px;
	margin: 0;
}

.user-det h5{
	color: #fff;


	box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    font-weight: 500;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 20px;

}
.user-det{
	display: flex;
	align-items: center;
	margin: 25px 0;
}
.user-det h6{
	color: #fff;
	margin: 0 10px;
}
.user-det p{
	color: #fff;
	margin: 0 10px;
}






.balance{
	display: flex;
	margin: 16px;
}



.balance-details{

	background-color: #fff;
	width: 66.6%;

	box-sizing: border-box;
    min-width: 0px;
    box-shadow: rgb(20 21 26 / 4%) 0px 1px 2px, rgb(71 77 87 / 4%) 0px 3px 6px, rgb(20 21 26 / 10%) 0px 0px 1px;
    border-radius: 4px;
    padding: 25px 16px;
}

.balance-head h3{
	box-sizing: border-box;
    margin: 0px 16px 0px 0px;
    min-width: 0px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: rgb(30, 35, 41);
    font-size: 16px;
    padding: 0px;
}
.balance-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.deb-with a{
	text-decoration: none;
	color: #212833;
	border-radius: 4px;
    padding: 4px 16px;

    font-size: 12px;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    line-height: 20px;
        margin: 0px 4px;
        border: 1px solid #eaecef;


}

.ddep{
	background-color: #50a333;
	color: #fff !important;
}


.list-spot ul{
	padding: 0;
	list-style: none;
	display: flex;
	width: 100%;
	border-bottom: 1px solid #eaecef;
}
.list-spot ul li{

margin-right:24px  ;
padding: 5px 0;
cursor: pointer;
color: #848e9c;
transition: 0.2s;
font-size: 16px;
}
.list-spot ul li:hover{
color: #212833;
transition: 0.2s;

}
.balance-body{
	padding: 25px 0;
}

.active-spot{
	border-bottom: 2px solid #50a333;
   color: #212833 !important;

}


.balance-acc{
	padding: 40px 0  0;
}
.balance-acc h6{
	    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 14px;
    color: rgb(112, 122, 138);
    display: inline-block;
}

.balance-amount{

	box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    display: flex;
    align-items: flex-end;
    padding: 15px 0 0;
}

.balance-amount h5{
	font-size: 25px;
    line-height: 36px;

}
.balance-amount p{

margin: 0 5px;
font-size: 14px;
color: #212833;
}

.announce{
	width: 33.3%;
	padding:  0 0px 0 8px;
}


.invite{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    background: linear-gradient(rgb(80 163 51) 0%, rgb(46 142 13) 99.77%);
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px, rgb(0 0 0 / 8%) 0px 0px 2px;
    border-radius: 4px;
    flex: 1 1 0%;
    padding: 8px 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
color: #fff;
cursor: pointer;
}

.invite-friend{
	border-radius: 4px;
}



.aanouncement{
	    box-sizing: border-box;
    margin: 16px 0px 0px;
    min-width: 0px;
    box-shadow: rgb(20 21 26 / 4%) 0px 1px 2px, rgb(71 77 87 / 4%) 0px 3px 6px, rgb(20 21 26 / 10%) 0px 0px 1px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    padding: 0px 16px;
    width: 100%;
    flex: 1 1 0%;
}

.anounc-head{

	box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(234, 236, 239);
    flex: 1 1 0%;
    padding-top: 16px;
    padding-bottom: 16px;



    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
}



.anounc-head h6{
	    box-sizing: border-box;
    margin: 0px 16px 0px 0px;
    min-width: 0px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: rgb(30, 35, 41);
    font-size: 14px;
    padding: 0px;
}

.anounc-body a{
	box-sizing: border-box;
    margin: 8px 0px 0px;
    min-width: 0px;
    text-decoration: none;
    display: block;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(234, 236, 239);
    color: rgb(30, 35, 41);
    line-height: 1.5;
    padding-top: 16px;
    padding-bottom: 16px;
}
.anounc-body a p{
	margin: 5px 0;
	color: rgb(30, 35, 41);
    line-height: 1.5;
    font-size: 14px;
}
.anounc-body a:hover p{
	color: #50a333;
}



.date-annonce{
    text-align: end;

}


.task{
	    box-sizing: border-box;
    margin: 16px 0px 0px;
    min-width: 0px;
    box-shadow: rgb(20 21 26 / 4%) 0px 1px 2px, rgb(71 77 87 / 4%) 0px 3px 6px, rgb(20 21 26 / 10%) 0px 0px 1px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    padding: 0px 16px;
    width: 100%;
    flex: 1 1 0%;
}
.task a{
	box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(234, 236, 239);
    display: flex;
    flex: 1 1 0%;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

.task h6{
	box-sizing: border-box;
    margin: 0px 16px 0px 0px;
    min-width: 0px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: rgb(30, 35, 41);
    font-size: 14px;
    padding: 0px;
    margin: 5px;
}


.task p{
	    margin: 5px 0;
    color: rgb(30, 35, 41);
    line-height: 1.5;
    font-size: 14px;

}




.task a:hover h6 {
color: #50a333;
}

.activitey{
    margin: 16px ;
    padding: 25px 16px;



    background-color: #fff;
    box-sizing: border-box;
    min-width: 0px;
    box-shadow: rgb(20 21 26 / 4%) 0px 1px 2px, rgb(71 77 87 / 4%) 0px 3px 6px, rgb(20 21 26 / 10%) 0px 0px 1px;
    border-radius: 4px;
}


.recent-act h6{

    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    min-width: 0px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: rgb(30, 35, 41);
    font-size: 16px;
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid #eaecef;
}



.table- .table thead th{
border-top: 0;
    font-size: 12px;
    opacity: 0.6;

}

.table- .table td, .table th{
border: 0;
}

.table- .table td{

    font-size: 14px;
    font-weight: 400;
    color: #1e2329;
}



.action{

        width: 65px;
    background-color: #50a333;
    color: #fff;
    font-weight: 500;
    padding: 1px ;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
}

.withdraw{
        background-color: #fa4d56;

}






footer{

	background-color: #12161c;
	padding: 50px 0;
}

footer h6{

	color: #fff;
}

footer ul li a{
	color: #a0abbd;
		transform: 0.2s;

}
footer ul li a:hover{
	color: #fff;
	transform: 0.2s;
}




@media(max-width: 730px){

    .main-flex{
        flex-direction: column;
    }
    .balance{
        flex-direction: column;
    }

    .balance-details{
        width: 100%;
    }

    .announce{
        width: 100%;
        padding: 0;
        margin-top: 16px;
    }

    .left-tab{
        width: 100%;
        overflow: scroll;
    }

    .left-tab ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0;
}


.left-tab ul li {
    padding: 10px 15px;
    transition: 0.2s;
    text-align: center;
}

}





.overview{
    background-color: #fff;
        box-shadow: rgb(0 0 0 / 10%) 2px 0px 4px;
        background-image: url(../img/bg.png);
        padding: 24px;
        color: #fff;
        background-size: cover;

}

.overview h3{
    box-sizing: border-box;
    margin: 0px 0px 24px;
    min-width: 0px;
    font-size: 32px;
    color: #fff;

}

.overview h3 span{
border-bottom: 2px solid #50a333;
}


@media(max-width: 400px){

    .list-spot ul{
        overflow: scroll;
    }
    .deb-with a{
        display: block;
        margin: 5px 0;
    }
}







.overview-link a{
    text-decoration: none;

    margin: 0px 16px 0 0;
    min-width: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    line-height: 20px;
    word-break: keep-all;
    color:#fff;
    border-radius: 4px;
    padding: 4px 16px;
    min-height: 24px;
    border: none;
    background-color: transparent;
    font-size: 14px;
        transition: 0.2s;

}

.overview-link a:hover{
    background-color: #50a333;
    transition: 0.2s;
}
.overview-link a:first-child{
    background-image: linear-gradient(rgb(80 163 51) 0%, rgb(60 216 6) 100%);
    color: #fff;
}

.overview-link a:first-child:hover{
    background-image: linear-gradient(#56cc2d 0%, #56cc2d 100%);
    color: #fff;
    transition: 0.2s;
}

.trans-link{
    border-left: 1px solid #dadada !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 0 !important;
    color:#fff !important ;

}

.trans-link:hover{
    color:#56cc2d !important ;
    background-color: transparent !important ;
    text-decoration: underline !important ;
}

.Estimated{
        box-shadow: rgba(11, 14, 17, 0.08) 0px 2px 4px;
    border-radius: 4px;
        padding: 24px;
background-color: #ffffff;
width: 100%;
}
.Estimated h6{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 14px;
    color: rgb(112, 122, 138);
}

.Estimated .amount{
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
}

.Estimated .amount h5{

    box-sizing: border-box;
    margin: 0px 0px 0px 4px;
    min-width: 0px;
    color: rgb(112, 122, 138);
    font-size: 14px;
    line-height: 26px;
}

.Estimated .amount h4{

    box-sizing: border-box;
    min-width: 0px;
    font-size: 32px;
    color: rgb(30, 35, 41);
    line-height: 100%;
    font-weight: 400;
}

.coin-table{
    box-shadow: rgb(11 14 17 / 8%) 0px 2px 4px;
    border-radius: 4px;
    padding: 24px;
    background-color: #ffffff;
    width: 100%;
}

.coin-table h6{
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    min-width: 0px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: rgb(30, 35, 41);
    font-size: 16px;
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid #eaecef;
    padding: 5px 0;
}

.coin-table h6 span{
border-bottom: 2px solid #50a333; 
padding: 4px 0;
}

 .table- input {
    border: 0;
    border-bottom: 2px solid #00000017;
    background-color: transparent;
    outline: none;
    margin: 15px 5px;
}

.coin-table input:focus-visible {
    border: 0;
    border-bottom: 2px solid #52a833;
}

.coin-details img{
    width: 32px;
    height: 32px;
}
.coin-details{display: flex;

align-items: center;}

.coin-details h5{
    font-size: 15px;
    margin: 0 5px;
}

.coin-details p{
    font-size: 12px;
    margin: 0 5px;
}

.action-btn{
      padding: 0;
    display: flex;
    outline: none;
    align-items: center;
    color: #52a833;
    transition: 0.2s;
}
.action-btn:focus{
    outline: none;
    box-shadow: 0 0 0  0;
}
.action-btn:hover{
    color: #50a333;
        transition: 0.2s;

}

.deposite-head h2{
    font-size: 24px;
    font-weight: 600;
}

.deposite-head{

    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.deposite{

    width: 100%;
        background-color: #f5f5f5;
        padding: 15px 0;

}
.deposite-head a{

    padding: 5px 15px ;
    font-size: 14px;

    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    border-radius: 6px;
    background-color: #EAECEF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #1E2329;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
}


.inside-form{
    margin: 50px ;

    padding: 50px;
}

.inside-form label {
        box-sizing: border-box;
    margin: 0px 0px 4px;
    min-width: 0px;
    color: rgb(112, 122, 138);
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.form-tran{

    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #0000001a;
}

.radio-btn{
    display: flex;
    align-items: center;

    margin: 15px 0;
}

.radio-btn h6{
    margin: 0 5px;
        box-sizing: border-box;
    min-width: 0px;
    font-weight: 500;
    font-size: 14px;
}
.radio-btn p{

margin: 0 5px;

    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    font-size: 12px;
    color: rgb(112, 122, 138);
    line-height: 1.4;

}

.inside-form a{

    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    word-break: keep-all;
    color: rgb(33, 40, 51);
    padding: 12px 24px;
    min-height: 24px;
    border: none;
    background-image: linear-gradient(#50a333 0%, #3dc70d  100%);
    min-width: 80px;
    border-radius: 8px;
    width: 140px;
    height: 40px;
    color: #fff;
    transition: 0.2s;
}

.inside-form a:hover{

    background-image: linear-gradient(#3dc70d  0%, #3dc70d  100%);
    transition: 0.2s;

}


.currency-img{
    background-color: red;
    width: 32px;
    height: 32px;
}

.non-disp{
    display: none;
}

.prev{
    background-color: transparent !important;
    background-image: none !important;
    color: #212529 !important;
}

.flex-wi{
    
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    min-height: 600px;

    padding-bottom:100px ;
}

.amount-input input:focus{
        outline: 0;
    box-shadow: none;
}

.prev i{
    margin: 0 5px;
}

.prev:hover{

    color: #50a333 !important;
    transition: 0.2s;
}

.prev:hover i{

    transform: translateX(-5px);
    transition: 0.2s;
}

.deposite-head a:hover{
color: #50a333 !important;
    transition: 0.2s;
}

.deposite-head a:hover i{
transform: translateX(5px);
    transition: 0.2s;
}

.sec-dep .modal-header{
    border: 0;
}


.sec-dep .modal-footer{
        border: 0;

}






.paybank{
    display: none ;
}


.next{
    background-image: linear-gradient(#50a333 0%, #3dc70d 100%);
text-align: center;
color: #fff;
font-weight: 500;
}


.sec-dep .modal-footer{
    text-align: center;
    justify-content: center;
}


.inside-crypto{
    background-color: #f5f5f5;
        box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    border-radius: 8px;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
}


.tips-depos{

    margin: 16px auto;
}


.instruction-num{

    font-size: 14px;
    justify-content: center;
    color: #fff;
    background-color: #50a333;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 500;
}


.line-btw{
    height: 4px;
    border-radius: 2px;
    width: 85%;
    background-image:linear-gradient(#50a333 0%, #3dc70d 100%);
    margin: 0 5px;
            box-sizing: border-box;

}
.ins-num{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inside-crypto .col-md-3 h6{
    margin-top: 15px;

    box-sizing: border-box;
    min-width: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.inside-crypto .col-md-3 p{

        box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgb(112, 122, 138);
}

.inside-crypto .col-md-3{
    margin: 10px 0;
}

.buy-crt{
box-sizing: border-box;
    margin: 16px 0px 0px 8px;
    min-width: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgb(71, 77, 87);
    padding: 16px;
}
.buy-crt a{
    color: #474d57;
    text-decoration: underline;
}
.buy-crt a:hover{

    color:#50a333 ;
}
.select-coin{
    display: flex;
    margin-top: 25px;

}
.select-coin h6{
    width: 25%;

}
.coin-depsit{
    margin: 16px ;
    padding: 24px;
}

.select-mune{
    padding: 5px 10px;
    border: 1px solid #eaecef;
    width: 340px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
            transition: 0.2s;


}

.select-mune:hover{
    cursor: pointer;
        border: 1px solid #50a333;
        transition: 0.2s;

}
.select-mune:hover i{
    color:#50a333 ;
}
.select-mune p{
    margin: 0;
    color: #b7bdc6;
}
.coin-list ul{
    list-style: none;
    padding: 0;
}
.coin-list img{
    width: 32px ;
    height: 32px;
}

.flex-list-c{
    display: flex;
    align-items: center;
}
.flex-list-c h6{
    margin: 0 15px;
}
.flex-list-c p{
    margin: 0 15px;
}

.crypto-depo .modal-dialog{
    width: 400px;
}


.crypto-depo .modal-header{
    border: 0;
}
.crypto-depo .modal-footer{
    border: 0;
}
.coin-list li:hover {
    background-color: #fafafa;
}

.coin-list a{
    padding: 10px;
    width: 100%;
    display: flex;
    padding: 15px;
    margin-top : 5px ;
    text-decoration: none;
}

.crypto-depo .modal-body{
    padding-left: 0;
    padding-right: 0;
}

.coin-serch-input {
    padding: 0 15px;
}

.flex-list-c h6{
    color: #1e2329;
}
.flex-list-c p{
    color: #474d57;
}

.network .flex-list-c{
    justify-content: space-between;
    width: 100%;
}
.avg p{
    text-align: end;
    margin: 0;

}

.avg h6{
    margin: 0;
    text-align: end;
}

.bep p{
    margin: 0;
    text-align: initial;
}

.bep h6{
    margin: 0;
    text-align: initial;
}

.memo{
    width: 70%;
    text-align: center;
    height: 100%;
    background-color:#a2a2a211 ;
    border-radius: 4px;
    margin: 16px;
    padding: 25px;
    backdrop-filter: blur(5px);

}

.memo a{
    background-image: linear-gradient(#50a333 0%, #3dc70d 100%);
    padding: 10px 25px;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.2s;

}
.memo a:hover{
    background-image: linear-gradient(#3dc70d 0%, #3dc70d 100%);

transition: 0.2s;
}















@media(max-width: 767px){



    .line-btw {
display: none;
}

.memo {
    width: 100%;
    margin:  16px 0;
}


.select-coin {

flex-direction: column;
}



}



.ieo-inside{
    background-color: #fff;
    border-radius: 6px;
     padding: 25px 20px;
    background-color: #ffffff;
    box-shadow: rgb(20 21 26 / 4%) 0px 1px 2px, rgb(71 77 87 / 4%) 0px 3px 6px, rgb(20 21 26 / 10%) 0px 0px 1px;
    border-radius: 6px;
    height: 100%;
    cursor: pointer;
    transition: 0.2s;

}

.ieo-ins-head{
    width: 100%;
    border-bottom: 1px solid #00000030;
    padding: 15px 5px;

}

.iew{
    display: flex;
    flex-wrap: wrap;
        padding-bottom: 25px;
    box-sizing: border-box;
}




.ieo-coin{
    margin-top: 16px;

}
.ieo-ins-head h6{
    font-size: 15px;
    font-weight: 500;
    opacity: 0.7;
}

.ieo-ins-head p{
    font-size: 12;
    letter-spacing: 1px;
    word-spacing: 1px;
width: 70%;

    margin: 0;
    text-overflow: ellipsis;

        font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 1px;
    width: 70%;
    overflow-wrap: normal; 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: break-spaces;
}

.ieo-footer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding:15px 5px  ;
}

.date-end{
    color: #50a333;
}
.s-price{
    color: #fa4d56;
}
.ieo-footer h6{
    font-size: 13px;
    font-weight: 400;
    opacity: 0.7;
}

.ieo-inside:hover{
    box-shadow: rgb(20 21 26 / 21%) 0px 1px 2px, rgb(0 0 0 / 18%) 0px 3px 6px, rgb(20 21 26 / 10%) 0px 0px 1px;

transition: 0.2s;
}

.list-policy{
    padding: 15px 10px;
}


.list-policy h2{

    font-size: 22px;
     font-weight: 600;
     text-align: center;
     margin: 15px;
     color:#1e2329 ;
     opacity: 0.6;
}

.plicy-img img{
    width: 200px;
}

.plicy-img {
    text-align: center;
}


.list-policy h5{
    font-size: 15px;
         margin: 15px 0;


}

.list-policy h6{
    font-size: 13px;
    margin: 15px 10px;
    font-weight: 500;
}

.list-policy p{

     font-size: 14px;

    margin: 15px 5px;
    color: #707a8a;
}

.list-policy a{
    color: #50a333;
}

.invest-bannar{
    align-items: center;
    min-height: 150px;
    background-image: url(../img/banner.png);
    background-position: center ;
padding: 16px  32px;
background-size: cover;

}
.invest-bannar h2{
color: #fff;
font-size: 32px;
font-weight: 600;
}



.invest-bannar h6{
        font-size: 20px;
    line-height: 24px;
    margin-top: 8px;
    font-weight: 500;
    padding: 0;
        color: #B7BDC6;
        margin-bottom: 15px;
}

.invest-bannar a{

    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(#50a333 0%, #3dc70d  100%);
    padding: 7px 15px;
    border-radius: 6px;
    margin: 10px 0;
            transition: 0.2s;


}

.invest-bannar a:hover{
        background-image: linear-gradient(#3dc70d  0%, #3dc70d  100%);
        transition: 0.2s;

}

.invest-balance{
    display: flex;
flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
    padding: 15px;

    box-sizing: border-box;
    min-width: 0px;
    box-shadow: rgb(20 21 26 / 4%) 0px 1px 2px, rgb(71 77 87 / 4%) 0px 3px 6px, rgb(20 21 26 / 10%) 0px 0px 1px;
    border-radius: 6px;
    padding: 25px 16px;
}


.invest-adv {

    min-height: 150px;
background-color: #fff;    
padding: 16px  32px;
background-size: cover;
margin: 16px;
border-radius: 6px;
    box-shadow: rgb(20 21 26 / 4%) 0px 1px 2px, rgb(71 77 87 / 4%) 0px 3px 6px, rgb(20 21 26 / 10%) 0px 0px 1px;
display: flex;
flex-wrap: wrap;
}


.invest-adv img{
width: 80px;
height: 80px;
margin-bottom: 15px;
}

.invest-adv h6{
    font-size: 15px;
    font-weight: 600;
    color: #1e2329;
}

.invest-adv p{
    width: 70%;
    font-size: 13px;
}

.invest-model{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invest-model{
}

.instru {
    padding: 0;
    list-style: none;
        margin: 5px 15px;



}


.invest-form {
    width: 100%;
}
.instru ul{padding: 0;
    list-style: none;
}

.invest .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #52a833;
    color: #ffffff;
}

.invest .modal-header h5 {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    opacity: 1;
    border: 0;
}

.invest .instru li {
    margin: 5px 0;
    font-size: 14px;}
.invest-model .form-control {
    margin: 15px 0;
}

.invest .modal-footer{
    text-align: center;
        justify-content: center;


}
.invest .close{
    outline: none;
    color: #fff;
}

.invest-log{
    margin: 16px;

  
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
    min-width: 0px;
    box-shadow: rgb(20 21 26 / 4%) 0px 1px 2px, rgb(71 77 87 / 4%) 0px 3px 6px, rgb(20 21 26 / 10%) 0px 0px 1px;
    border-radius: 6px;
    padding: 25px 16px;
}

.table-responsive{
    width: auto;
}

.invest-log  .table thead th{

border: 0;
    font-size: 12px;
    opacity: 0.6;
}

.invest-log  .table  td{
     font-size: 14px;
     font-weight: 500;
     opacity: 0.7;
         border-top: 1px solid #dee2e661;


}






.invest .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
}


.vodiapicker{
  display: none; 
}

#a{
  padding-left: 0px;
}
#aa{
  padding-left: 0px;
}

#a img, .btn-select img{
  width: 25px;
  
}
#aa img, .btn-select2 img{
  width: 25px;
  
}
#a li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
#aa li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}


#a li:hover{
 background-color: #F4F3F3;
 cursor: pointer;
}
#aa li:hover{
 background-color: #F4F3F3;
  cursor: pointer;

}

#a li img{
  margin: 5px;
}
#aa li img{
  margin: 5px;
}
#a li span, .btn-select li span{
  margin-left: 10px;
}
#aa li span, .btn-select2 li span{
  margin-left: 10px;
}

/* item list */

.b{
  display: none;
  width: 150px;
  max-width: 350px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  height: 200px;
    overflow-y: scroll;
    position: absolute;
        background-color: #f5f5f5;
        z-index: 2;


  
}
.bb{
  display: none;
  width: 150px;
  max-width: 350px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  height: 200px;
    overflow-y: scroll;
    position: absolute;
            background-color: #f5f5f5;
z-index: 2;
  
}


.open{
  display: show !important;
}

.btn-select{
  margin-top: 0px;
  width: 150px;
  max-width: 350px;
  height: 45px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
      border-left: 1px solid #0000001a;
    border-radius: 0 4px 4px 0;
 
}


.btn-select2{
  margin-top: 0px;
  width: 150px;
  max-width: 350px;
  height: 45px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
      border-left: 1px solid #0000001a;
    border-radius: 0 4px 4px 0;
 
}
.btn-select li{
  list-style: none;
  float: left;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
}
.btn-select2 li{
  list-style: none;
  float: left;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
}

.btn-select:hover li{
  margin-left: 0px;
}
.btn-select2:hover li{
  margin-left: 0px;
}

.btn-select:hover{
      outline: none;
    border: 1px solid #cecece;
    background-color: #f5f5f5;
    box-shadow: 0 0 0 0;
  
  
}


.btn-select2:hover{
      outline: none;
    border: 1px solid #cecece;
    background-color: #f5f5f5;
    box-shadow: 0 0 0 0;
  
  
  
}


.btn-select:focus{
   outline:none;
}

.btn-select2:focus{
   outline:none;
}

.lang-select{
  margin-left: 0px;
}
.lang-select2{
  margin-left: 0px;
}


.convert-form label{
    margin: 0;
    display: flex;
    line-height: 20px;
    font-size: 14px;
    color: #474D57;
    font-weight: 500;

}
.convert-form label p{
    margin: 0;
}
.convert-form{
    display: flex;
    align-items: flex-end;
}
.conver-form-ins input{
    height: 45px;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 350px;
}
.form-control{
        outline: none;

}

.form-control:focus {
            outline: none;
            border: 1px solid #cecece;
            background-color: #f5f5f5;
            box-shadow: 0 0 0  0;
}
.swap{width: 100%;
text-align: center;}

.swap i{
        transform: rotate(90deg);
    font-size: 22px;
    margin: 25px;

    color:     #3dc70d;

}
.swap i:hover{
color: #50a333;
transition: 0.2s;

}

.vodiapicker2{
  display: none; 
}

.swap-bg{

        box-shadow: rgb(11 14 17 / 8%) 0px 2px 4px;
    border-radius: 4px;
    padding: 24px;
    background-color: #ffffff;
margin: 16px;}

.conversion {
        text-align: center;
    width: 100%;
    background-image: linear-gradient(#50a333 0%, #3dc70d  100%);
    margin: 50px 0 0;
    border-radius: 4px;
    width: 100%;
        padding: 5px ;
        transition: 0.2s;

}
.conversion a{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    min-width: 100%;
    display: block;
    text-decoration: none;
}
.conversion:hover {
        background-image: linear-gradient(#3dc70d  0%, #3dc70d  100%);
transition: 0.2s;
}

.price-convert div{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.price-convert div h6{
        line-height: 20px;
    font-size: 14px;
    color: rgb(71, 77, 87);
    margin: 0;
}
.price-convert{
    padding: 10px 0;
    border-bottom: 1px solid #e6e8ea;
    display: none;
}
.last-pp{
    color:#3dc70d !important ;
    font-size: 22px !important ;
        line-height: 28px !important ;

}

@media(max-width: 549px){
.btn-select{
width: 100px;
}

.btn-select2{
width: 100px;
}
.conver-form-ins input{
    width: 100%;
}
.b{
    width: 100px;
}

.bb{
    width: 100px;
}

}


.staking{
    box-shadow: rgb(11 14 17 / 8%) 0px 2px 4px;
    border-radius: 4px;
    padding: 24px;
    background-color: #ffffff;
margin: 16px;
}
.staking .search-coin input{
    width: 50%;
    border: 0;
    border-bottom: 1px solid #cecece;
}

.staking .search-coin input:focus{

    border: 0;
    border-bottom: 2px solid #3dc70d;
}

.staking .search-coin input:focus-visible{

    border: 0;
    border-bottom: 2px solid #3dc70d;
    outline: 0;
}
.search-coin i{
    position: relative;
    left: -25px;
}
.search-coin i{
    color:#3dc70d ;
}

.Locked-stak h3{

font-size: 22px;
margin: 15px 0;
opacity: 0.8;
color: #212833;

}


.staking td img{

    width: 32px;
    height: 32px;
    margin: 0 5px 0 0;
}

.staking td{
    align-items: center;
}
.profit{
    color: #0ecb81 !important;
}

.staking th{

    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;


}

.staking td{

    font-size: 16px;
    font-weight: 500;
}
.staking .duration div{
    margin: 0px 6px 0px 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    border-radius: 4px;
    padding: 5px 11px;
    min-height: 24px;
    background-color: transparent;
    box-shadow: none;
    min-width: 52px;
    border: 1px solid #eaecef;
    color: rgb(30, 35, 41);
    width: 36px;
}
.dur-active{
        border: 2px solid #3dc70d !important;

}
.duration{
    display: flex;
}
.duration a{
        color: rgb(30, 35, 41);
        text-decoration: none;

}
.duration div:hover {

background-color: #00000005;}

.staking .table td{

    border: 0;
    color: #212833;
    opacity: 0.9;
    box-sizing: border-box;
}

.take-ac a{

    padding: 5px 15px;

    color: #fff;
    background-image: linear-gradient(#50a333 0%, #3dc70d  100%) ;
    text-decoration: none;
    border-radius: 4px;
    width: fit-content;
    display: block;

        transition: 0.2s;

}

.take-ac a:hover{

    background-image: linear-gradient(#3dc70d 0%, #3dc70d  100%) ;
    transition: 0.2s;
}



.staking-log{
 box-shadow: rgb(11 14 17 / 8%) 0px 2px 4px;
    border-radius: 4px;
    padding: 24px;
    background-color: #ffffff;
margin: 16px;

}


.trasnaction{
    margin: 16px ;
    padding: 24px;
}
.trasnaction h2{
    font-size: 28px;
}

.history-action a{
    margin-right: 10px;
    text-decoration: none;
        user-select: none;
    border-radius: 8px;
    color: rgb(112, 122, 138);
    font-weight: 400;
    font-size: 14px !important;
    line-height: 20px !important;
      padding: 8px 16px;

    margin-top: 15px;
}
.history-action{
        margin-top: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}




.history-action .active2{
    background-color: rgb(245, 245, 245);
    color: rgb(30, 35, 41);
    padding: 8px 16px;
}
.history-action a:hover{
        color: rgb(30, 35, 41);
transition: 0.2s;

}


.trans-table thead tr{
background-color: rgb(245, 245, 245);
    color: rgb(112, 122, 138);
    }


.trans-table .nodisplay{
    display: none;
}

.disppl{
    display: block !important;
}


.invest-log h6{
        font-size: 14px;
    color: #707a8a;
    border-bottom: 1px solid #00000017;
    padding: 5px 0;
}




@media(max-width: 768px){

    .staking .search-coin input{
        width: 75%;
    }
}


@media(max-width: 1024px){

    .right-tab {
    width: 85%;
}


}

@media (max-width: 730px)
{
        .right-tab {
    width: 100%;
}
}


.coin-withdraw label{
margin: 15px 0;
}

.select-coin img{
    width: 25px;
    height: 25px;
}

.coin-slect-det h5{
margin: 0 5px;
    box-sizing: border-box;
   
    min-width: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.coin-slect-det h6{

margin: 0 10px;

box-sizing: border-box;
    min-width: 0px;
    color: rgb(71, 77, 87);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 20px;
        width: 50%;



}

.coin-slect-det{
    display: flex;
    align-items: center;
}

.select-coin input{
    width: 340px;
}
.select-coin input:hover{
    width: 340px;
        border: 1px solid #50a333;

}

.select-coin input:focus{
    width: 340px;
        border: 1px solid #50a333;

}



.balance-withdraw{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
}

.balance-withdraw h2{
        font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.balance-withdraw p{
        margin: 2px 0;
    font-size: 12px;
}
.balance-withdraw a{

    text-decoration: none;
    color: #fff;
    background-image:linear-gradient(#50a333 0%, #3dc70d  100%);
    padding: 10px 20px;
    border-radius: 2px;
    font-weight: 500;
    transition: 0.2s;

}
.balance-withdraw a:hover{

        background-image:linear-gradient(#3dc70d 0%, #3dc70d  100%);
            transition: 0.2s;


}



@media(max-width: 375px){
    .select-mune{
        width: 100%;
    }
  .select-coin input{
        width: 100%;
    }

    .balance-withdraw{
        width: 100%;
    }
}
